<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
	<h1><%= @inviter_email %> has added you as a contact!</h1>
	<p>
	    Don't have an account?  No worries.  A temporary one has been set up for you.
	</p>
	<p>
	    Visit the link to finish signing up: <a href="<%= @signup_link %>"><%= @signup_link %></a>
	</p>
	<p>
	    You can change your name and password by clicking on the link.
	</p>
    </body>
</html>
