<% content_for :title, "Mobile Apps" %>
<div class="section">
	<div class="container">
		<h1>Mobile Apps</h1>
		<hr>
	</div>
</div>
<div class="section">
	<div class="container">
		<div class="row">
			<div class="span6">
				<%= link_to image_tag("android.png"), "https://play.google.com/store/apps/details?id=io.plansource" %>
				<h2>Android</h2>
				<%= link_to "PlanSource - Android", "https://play.google.com/store/apps/details?id=io.plansource" %>
			</div>
		</div>
	</div>
</div>
