<div class="dialog box box-border" style="width: 600px;">
  <div class="header">
    <p class="title">No RFI for this ASI.</p>
  </div>
  <div class="body">
    <p>This ASI is unlinked and doesn't have an associated RFI.</p>
  </div>
  <div class="footer"></div>
</div>
