<div class="modal-wrapper">
	<div class="overlay"></div>
	<div class="dialog box box-border">
		<div class="header">
			<p class="title">Are you sure?</p>
		</div>
		<div class="body">
			<p>Are you sure you want to delete {{filename}}?</p>
		</div>
		<div class="footer">
			<div class="buttons">
				<a class="button button-blue" {{action "deletePhoto" target=controller}} >Delete</a>
				<a class="button" {{action "close"}}>Cancel</a>
			</div>
		</div>
	</div>
</div>
