<div class="modal-wrapper">
  <div class="overlay"></div>
  <div class="dialog box box-border">
    <div class="header">
      <p class="title">Type a message to send to {{ name }} group.</p>
    </div>
    <div class="body">
      <p>All users that are shared will receive this message.</p>
      <textarea style="width: 100%; max-width: 100%; height: 250px; padding: 10px;" placeholder="You message to the group..." id="message-to-group"></textarea>
    </div>
    <div class="footer">
      <div class="buttons">
        <a class="button button-blue" {{action "sendMessage" target=controller}} >Share</a>
        <a class="button" {{action "close"}}>Close</a>
      </div>
    </div>
  </div>
</div>
