<% content_for :title, "Select the Report You Want to Generate" %>

<div class="section">
	<div class="container" style="margin-bottom:30px">
		<h2>Report Options</h2>

    <ul>
      <li><h4><%= link_to "RFI/ASI Report", rfi_asis_report_jobs_path %></h4></li>
      <li><h4><%= link_to "Shop Drawings Report", shop_drawings_report_jobs_path %></h4></li>
    </ul>
	</div>
</div>

