<div class="browser-error hidden">
	<div class="alert alert-error">
	  We are sorry but your browser is not supported.  Some functions may not work correctly.  See a list of <a href="">compatible browsers.</a>
	</div>
</div>